extends ./layout.pug
block variables
  //- To override these variables, we use `var` keyword unwillingly
  - var TITLE = `LunchVue ─ 전국 급식 식단표`
  - var DESCRIPTION = `우리 학교 급식 식단표를 빠르고 쉽게 확인하세요.`
  - var URL = `${BASE_URL}find`

block content
  p Hi